body {
  background: white;
  color: black;
  font-style:normal;
  font-size: 48px;
  font-weight: 400;

  letter-spacing: -0.0125rem;
  margin:30px;


}

div{

	margin-bottom:5px;
}

a {
  background-color: transparent;
  color: blue;
   text-decoration: none;
}
